{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}

<h1>Ženy do IT!</h1>

<p>
  Digitální dovednosti jsou v dnešní době důležité a brzy se bez nich neobejde
  nikdo. Ženy jsou digitalizací více ohrožené, protože častěji vykonávají
  profese náchylné k automatizaci nebo robotizaci.
</p>
<p>
  IT je profese budoucnosti. Poptávka po IT specialistech je vysoká a ještě
  poroste. Pojď toho využít i ty! Pořádáme kurzy programování, datové analýzy,
  tvorby webu a spoustu dalšího. Na jeden večer nebo i tři měsíce. Od úplných
  začátečnic až po pokročilejší.
</p>
<p>
  Motivujeme ženy, vzděláváme je a pomáháme jim najít vysněnou práci v oboru.
  Propojujeme je s partnerskými firmami, které vítají různorodost v pracovních
  týmech.
</p>
<p>
  Se znalostmi IT můžeš získat novou práci, zlepšit se v té současné nebo si
  založit vlastní projekt. Objevuj svět IT s námi.
</p>

{% endblock %}