{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}

<h2>{{ object.name }}</h2>

<h3>Kdy</h3>
<p>
  {{ object.start | date }} <br />
  v {{ object.start | time }}-{{ object.end | time }} hodin
</p>

<h3>Kde</h3>
<p>
  Pobočka {{ object.branch }}.
</p>

<h3>Cena</h3>
<p>{{ object.price }} Kč</p>

<p>{{ object.description }}</p>

{% url 'application' object.pk as target_url %}
{% bootstrap_button "Přihlásit se" href=target_url button_type="link" button_class="btn-info" %}

{% endblock %}
